<% provide(:title, "Contact") %>
<h1>Contact information</h1>
<h3 style="padding-left: 20px"> I don't really want you to contact me on here, but here is my <a href="https://www.github.com/jensenkhem">Github</a></h3>

