<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
    <h1> This is going to be the main page on the site! </h1>
    <%=link_to "Contact", contact_path%>
    <%=link_to "About", about_path%>
</html>