<% if @character.errors.any?%>
    <div id="error_container">
        <div class="alert alert-danger">
            This form contains <%= pluralize(@character.errors.count, "error")%>
        </div>
        <ul>
            <% for error in @character.errors.full_messages do%>
                <li><%=error%></li>
            <%end%>
        </ul>
    </div>
<%end%>