@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding: 60px;
}

.navbar-brand {
    color: aquamarine !important;
}

.nav.navbar-nav li a {
    color: aquamarine;
}

.nav.navbar-nav.navbar-right {
    padding-right: 60px;
    // background-color: dimgray;
    text-align: center;
}


