@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding: 60px;
}

.navbar-brand {
    color: aquamarine !important;
    margin-top: 2px;
    display: flex;

}

.nav.navbar-nav li a {
    color: aquamarine;
}

.nav.navbar-nav.navbar-right {
    padding-right: 60px;
    // background-color: dimgray;
    text-align: center;
}

// Form stuff

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

form label {
    margin-bottom: 15px;
}

.row {
    padding-left: 15%;
}

.field_with_errors { @extend .has-error; 
    .form-control {
        color: $state-danger-text;
    }
}

#char_container {
    width: fit-content;
}

#char_info {
    #char_stat_info {
        width: fit-content;
    }
}

#common_actions {
    margin-top: 20px;
    width: fit-content;
}

#party_info {
    padding-top: 20px;
}

